name: Build

on:
  workflow_call:

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          show-progress: false

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .nvmrc
          check-latest: true
          cache: yarn

      - name: Install
        run: yarn install --immutable
      
      - name: Sync manifest schemas
        run: yarn sync-manifest-schemas

      - name: Build script
        run: yarn build:script
