name: Check & lint

on:
  workflow_call:
    secrets:
      nexus_username:
        required: true
      nexus_token:
        required: true

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          show-progress: false

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .nvmrc
          check-latest: true
          cache: yarn

      - name: Install dependencies
        run: yarn install --immutable

      - name: Check linting
        run: yarn lint

      - name: Check types
        run: yarn check:types
        
      - name: Check items validity
        run: yarn check:items -u ${{ secrets.nexus_username }}:${{ secrets.nexus_token }}

      - name: Use golang 1.20
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: '1.20'
      - name: Install addlicense
        run: go install github.com/google/addlicense@latest
      - name: Check license
        run: yarn check:license
