name: Test

on:
  workflow_call:

jobs:
  checks:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        mongodb-version: ["6.0", "7.0", "8.0"]
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          show-progress: false

      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .nvmrc
          check-latest: true
          cache: yarn

      - name: Install dependencies
        run: yarn install --immutable

      - name: start MongoDB instance
        run: docker run --rm --name mongo -p 27017:27017 -d mongo:${{ matrix.mongodb-version }}
      
      - name: Run tests
        run: yarn test
