name: Test

on:
  workflow_call:

jobs:
  checks:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        mongodb-version: ["6.0", "7.0", "8.0"]
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          show-progress: false

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: .nvmrc
          check-latest: true
          cache: yarn

      - name: Install dependencies
        run: yarn install --immutable

      - name: start MongoDB instance
        run: docker run --rm --name mongo -p 27017:27017 -d mongo:${{ matrix.mongodb-version }}
      
      - name: Run tests
        run: yarn test
